@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$title-font: "Volkhov", serif;
$main-font: "Poppins", sans-serif;
$preTitle-font: "Open Sans", sans-serif;
$input-font: "Montserrat", sans-serif;
$menu-font: "Product Sans", sans-serif;
$title-color: #14183E;
$main-color: #5E6282;
$black-color: #212832;
$white-color: #FFFFFF;
$accent-color: #DF6951;
$bg-color: #E5E5E5;
$button-color: #F1A501;
$mini-color: #686D77;
$figure-color: #FFF1DA;
$destinations-color: #F0BB1F;
$payment-color: #F15A2B;
$reach-color: #006380;
$point-color: #39425D;
$box-line-color: #F7F7F7;
$email-block-color: #DFD7F9;
$total-black-color: #080809;
$trip-color: #84829A;
$circle-color: #F5F5F5;
$percent-color: #8A79DF;
$blur-color: #59B1E6;